/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: #ffffff;
    border-bottom: 1px solid #eaeaea;
    /* Línea sutil */
    padding: 1rem 2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    /* 2 columnas */
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}

.nav-left {
    align-items: center;
    gap: 1rem;
}

.nav-center {
    align-items: center;
    gap: 1rem;
}

.nav-rigth {
    align-items: center;
    gap: 1rem;
}

.logo-img {
    object-fit: contain;
}

.site-title h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
}

/* Navegación debajo del título */
.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: #333;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #0073e6;
}

/* Columna derecha */
.btn-contacto {
    padding: 0.5rem 1rem;
    background: #0073e6;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    transition: background 0.3s ease;
}

.btn-contacto:hover {
    background: #005bb5;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    /* Fuente minimalista */
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
    /* Texto oscuro */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    /* Separación entre links */
}

.nav-links a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    /* Color neutro */
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #0073e6;
    /* Azul minimalista al pasar */
}

/* Tipografía base */
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #222;
    background-color: #f9f9f9;
    line-height: 1.6;
}

/* Enlaces */
a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Imágenes responsivas */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Contenedores */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Encabezados */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 1em;
    color: #222;
}

/* Botón básico */
.button,
button {
    background: #0077cc;
    color: #fff;
    border: none;
    padding: 0.6em 1.2em;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s;
}

.button:hover,
button:hover {
    background: #005fa3;
}

p {
    font-family: 'Lato', sans-serif;
}